/* admin nav */
nav, #nav { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#414141)); position: absolute; left: 0; right: 0; top: 0; width: 100%; }
nav, 
#nav, 
	.nav_item { float: left; margin: 0; padding: 0; }
	nav .nav_item a, 
	#nav .nav_item a	{ border-right: 1px solid #4b4b4b; border-left: 1px solid #6e6e6e; color: #ddd; display: block; line-height: 3em; margin: 0; padding: 2px 24px; text-decoration: none; text-shadow: rgba(0,0,0,0.35) -1px -1px 0; }
		nav .nav_item:first-child a,
		#nav .nav_item:first-child a { border-left: 0; }
		nav .nav_item:last-child a,
		#nav .nav_item:last-child a { border-right: 0; }

html { background: #d9d9d9; }
body { background: #fff; border: 5px solid rgba(205,205,205,1); margin-bottom: 1.5em; -webkit-border-bottom-left-radius: 15px; -webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; }

#main { padding: 0 40px 3em; width: 900px; }
.help { color: #919191; display: block; font-size: 80%; margin-left: 91px; }

/* header */
header, #header { clear: both; margin-top: 3em; padding: 10px 40px 0; }

/* post/page form */
form fieldset { padding-top: 1em; }
	form:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
	form fieldset.border { border-top: 1px solid #ddd; }
	
form legend { background: #fff; font-size: 120%; font-weight: bold; margin-left: 89px; padding: 0.1em 3px; }

form label { clear: left; display: block; float: left; margin-right: 10px; text-align: right; width: 81px; }
	form #navigation-status label { float: right; text-align: left; width: 140px; }
	form .attached_upload label { display: inline; float: none; text-align: left; width: auto; }

form input[type="text"], 
form input[type="password"], 
form textarea { background: #f2f4f5; border: 1px solid rgba(0,0,0,0.2); margin-top: -0.5%; outline: none; padding: 3px;/* padding: 0.5%;*/ position: relative; width: 49.5%; 
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;  -webkit-transition: border 0.3s ease-in-out; }
	form textarea { margin-top: -0.25%; }
	form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus { background: #fff; border-color: rgba(0,0,0,0.4); }

form select { margin-top: -5px; }

form .main { float: left; width: 626px; }
	form .main input[type="text"],
	form .main input[type="password"],
	form .main textarea { width: 445px; }

form .options { clear: none; float: right; margin-left: -10px; width: 266px; }
	form .options legend { margin-left: 10px; }
	form .options input[type="text"],
	form .options input[type="password"] { width: 165px; }

form button,
a.button { background: #e3e3e3; background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#dbdbdb)); border: 2px solid rgba(179,179,179,0.8); cursor: pointer; line-height: 22px; margin: 0 -2px; min-width: 85px; -webkit-box-shadow: inset #fff 1px 1px 0, inset #fff -1px -1px 0;
	-webkit-border-radius: 4px; }
a.button { color: #000; display: inline-block; float: right; text-align: center; text-decoration: none; }

form #navigation-status { margin-bottom: 1.5em; padding-left: 91px; }
form .attached_upload { float: left; width: 32%; }
	form .attached_upload:first-child { clear: both; }
	form .attached_upload img { display: block; margin-bottom: 5px; }
	form .attached_upload input[type="checkbox"] { float: left; margin-right: 5px; }
	form .attached_upload .help { margin-left: 0; }

form #uploads { clear: both; }

body #notice-message,
body #error-message { display: block; font-size: 140%; margin: 10px 0 0; padding: 0.5em; }
body #notice-message { background: rgba(0,156,9,0.2); border: 1px solid rgb(0,87,0); color: rgb(0,87,0); }
body #error-message { background: rgba(190,0,16,0.2); border: 1px solid rgb(155,26,26); color: rgb(155,26,26); }

table 		{ width: 100%; }
	table th { font-size: 120%; padding-top: 8px; }
	table td { padding: 0.4em 0; }
	table tr { border-bottom: 1px solid #ddd; }
	table tr.even { background: #333; background: rgba(150,150,150,0.1); }


/* post admin */
#post_list .post_pubdate, #post_list .post_comments, #post_list .post_status, #post_list .skinny_column	{ text-align: center; }

/* page admin */
#page_list .page_pubdate, #page_list .page_status, #page_list .skinny_column { text-align: center; }
#page_list .page_title.header, #page_list .page_parent.header { text-align: left; }
#page_list .page_parent { width: 20%; }

/* people list */
#people_list th { text-align: left; }
#people_list .people_login { padding-left: 2%; }
#people_list .skinny_column { text-align: center; }















