<p><%= f.label :upload, "Choose image" %>
	<%= f.file_field :upload %>
</p>
<p><%= f.label :caption, "Image caption" %>
	<%= f.text_field :caption %>
	<span class="help">This can be blank</span>
</p>
