<div id="header">
	<h1><%= link_to "#{Site.site_name}: Administration", admin_home_path, :title => Site.site_name %></h1>
</div> <!-- /header -->
<%= render :partial => 'admin/base/navigation' %>
<div id="main">
	<p>Welcome to the admin section.</p>
</div> <!-- /main -->