<%= render :partial => 'layouts/header' %>

<ul>
<%- @posts.each do |p| -%>
	<li><%= link_to p.title, post_path(Site.archive_path, p.permalink) %></li>
<%- end -%>
</ul>

<%= render :partial => 'posts/sidebar' %>
<%= render :partial => 'layouts/footer' %>