<%= render :partial => 'layouts/header' %>
<ul>
<%- @posts.each do |p| -%>
	<li class="clear">
		<h2><%= link_to p.title, post_path(Site.archive_path, p.permalink) %></h2>
		<%= p.body %>
	</li>
<%- end -%>
</ul>
<%= render :partial => 'layouts/footer' %>