<div id="header">
	<h1><%= link_to Site.site_name, home_path, :title => "Back to the ‘#{Site.site_name}’ home page" %></h1>
	<p class="subhead"><%= Site.site_slogan %></p>
</div> <!-- /header -->
<div id="main">